h2{
  text-align: center;
}
section.top-nav{
    width: 100%;
    background: #ccc;
    padding-left: 10%;
}
section.top-nav div.navItem{
    display: inline-block;
    padding: 0 3.6rem;
    position: relative;
    background-color: #555;
    color: #fff;
    line-height: 2.2em;
    pointer-events: none;
    cursor: default;
}
section.top-nav div.navItem:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 1.4rem solid #eee;
    border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
    left: 0;
}
section.top-nav div.navItem:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 1.5rem solid #555;
    border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
    right: -1.5rem;
    z-index: 1;
}
section.top-nav div.navItem:first-child:before{
    border: 0;
}
section.top-nav div.cur-item{
    background-color: #00C5CE;
}
section.top-nav div.cur-item:after{
    border-left: 1.5rem solid #00C5CE;
}

section.main-container{
    padding-top: 5rem;
}
section.main-container > *{
    display: none;
}
section.main-container form{
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 5rem;
}
section.main-container form label{
    width: 30%;
    text-align: right;
    padding-right: 2rem;
    margin: 1.5rem 0;
}
section.main-container form #prevStep{
    display: none;
}
section.main-container form#prev #prevStep{
    display: inline;
}
section.main-container form label:after{
    content: attr(data-error);
    position: absolute;
    right: 1rem;
    color: red;
}
section.main-container form input{
    width: 50%;
    line-height: 2.5rem;
    border-radius: 2px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 0.2rem;
}
section.main-container form input#vc{
    width: 20%;
}
section.main-container form input[type="submit"]{
    width: 10rem;
    background-color: #00C5CE;
    color: #fff;
    position: absolute;
    right: 20%;
    bottom: 0;
    padding-left: 0;
}
section.main-container div.successModel{
    display: none;
    width: 50%;
    margin: 0 auto;
    padding-left: 1rem;
    border: 2px solid #00E79F;
    line-height: 9rem;
    position: relative;
    cursor: pointer;
}
section.main-container div.successModel > *{
    display: inline-block;
}
section.main-container div#suc{
    border-color: #00E79F;
    color: #00E79F;
}
section.main-container div#suc .suc{
    display: inline;
}
section.main-container div#error{
    border-color: red;
    color: red;
}

section.main-container div.successModel:hover p:last-child{
    color: #FF5400;
    cursor: pointer;
}
section.main-container div#error .error{
    display: inline;
}
section.main-container div.successModel > h5{
    font-size: 3rem;
    vertical-align: middle;
}
section.main-container div.successModel p{
    margin-left: 20%;
}
section.main-container div.successModel p:last-child{
    position: absolute;
    right: 1rem;
    bottom: 0;
    margin-left: 0;
    line-height: 1.5rem;
    font-size: 1.5rem;
}
section.main-container div.successModel i{
    font-size: 5rem;
    vertical-align: middle;
    margin-left: 1rem;
    display: none;
}
section#verifyModelStep div.verifyModel{
    display: block;
}
section#resetModelStep div.resetModel{
    display: block;
}
section#successModelStep div.successModel{
    display: block;
    -webkit-animation:successModelShoeAnimate 0.3s linear 1 alternate;
    -o-animation:successModelShoeAnimate 0.3s linear 1 alternate;
    animation:successModelShoeAnimate 0.3s linear 1 alternate;
}
@keyframes successModelShoeAnimate {
    0%{
        opacity: 0.7;
        transform: scale(4);
    }
    75%{
        opacity: 1;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@media only screen and (max-width: 1024px){
    section.top-nav div.navItem:after{
        right: -1.4rem;
    }
}
@media only screen and (max-width: 480px){
    section.top-nav{
        padding-left: 0;
    }
    section.top-nav div.navItem{
        width: 30%;
        padding: 0 0.5rem;
        padding-left: 1.5rem;
    }
    section.main-container{
        padding-top: 2rem;
    }
    section.main-container form{
        width: 100%;
    }
    section.main-container form label{
        width: 100%;
        padding: 0 5%;
        text-align: left;
        margin-bottom: 1rem;
    }
    section.main-container form label:after{
        right: 3rem;
    }
    section.main-container form input{
        width: 90%;
        margin: 0 5%;
    }
    section.main-container form input#vc{
        width: 40%;
        margin-right: 1rem;
    }
    section.main-container form input[type="submit"]{
        right: 0;
    }
    section.main-container div.successModel{
        width: 90%;
        line-height: 7rem;
    }
    section.main-container div.successModel h5{
        display: block;
        margin-bottom: 0;
    }

}

