body{
    transition: all 1s linear;
}
a.noEvent{
    pointer-events: none;
}
div.unEmailVerifyNotice{
    width: 100%;
    height: 50px;
    background-color: #eee;
    color: red;
}
a.btn{
    text-decoration: none;
}
span.block{
    display: block;
}
h2.header-l2{
    color: #FFF;
    background-color: #36C565;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 100;
    font-size: 2.2rem;
}
h2.header-l2 em{
    font-weight: 700;
    font-style: normal;
    color: #FF6138;
}
h2.header-l2:before{
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background-color: #ffffff;
    left: 10px;
    top: 0;
    position: absolute;
}
div.header-l3{
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: #f3f1f1;
    color: #8e8e8e;
}
div.header-l3 a{
    /*color: #fff;*/
}
div.header-l3 em{
    font-size: 1rem;
    margin-left: 1rem;
    font-style: normal;
    color: #555;
}
div.header-l3 em.warn{
    color: #FF6138;
    line-height: 3rem;
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    border-right: 3px solid red;
    padding-right: 1rem;
}
div.header-l3 em.warn:empty{
    border-right: 0;
}
.over-eclipse{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
body#totalPageLoading section.pageLoading{
    display: block;
}
section.pageLoading{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}
section.pageLoading i.loader{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00E79F;
    font-size: 5rem;
    -webkit-animation:pageLoaderAnimate 1s infinite linear;
    -o-animation:pageLoaderAnimate 1s infinite linear;
    animation:pageLoaderAnimate 1s infinite linear;
}
.block-loading-animate{
    position: relative;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.block-loading-animate:before{
    content: "\f021";
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #36c565;

    -webkit-animation:pageLoaderAnimate 1s infinite linear;
    -o-animation:pageLoaderAnimate 1s infinite linear;
    animation:pageLoaderAnimate 1s infinite linear;
}
@keyframes pageLoaderAnimate {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
section.top-message{
    width: 100%;
    height: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
    transition: all 0.5s linear;
    transition-property: height,top;
    background: #43c56c;
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#43c56c),color-stop(100%, #7fc59f));
    background: -webkit-linear-gradient(45deg,#43c56c 0,#7fc59f 100%);
    background: linear-gradient(45deg,#43c56c 0,#7fc59f 100%);
}
section.top-message > section{
    height: 100%;
    display: none;
}
section#topM-sysMsg{
    height: 180px;
    position: relative;
}
section#topM-sysMsg section.systemMessage{
    display: block;
    padding: 1rem 0;
}
section#topM-sysMsg section.systemMessage > *{
    display: inline-block;
    vertical-align: top;
}
section#topM-sysMsg section.systemMessage h3{
    font-size: 2.2rem;
    margin: 0.1rem 2rem 0 1rem;
    color: #fff;
    vertical-align: top;
}
section#topM-sysMsg section.systemMessage ul{
    width: 20%;
    max-height: 100%;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-color: rgba(255,255,255,0.97);
}
section#topM-sysMsg section.systemMessage ul li.msg-item{
    width: 100%;
    height: 60px;
    position: relative;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    cursor: pointer;
}
section#topM-sysMsg section.systemMessage ul li.mi-cur{
    background-color: #eee;
}
section#topM-sysMsg section.systemMessage ul li.msg-item h5{
    font-size: 1.6rem;
    padding-left: 0.5rem;
}
section#topM-sysMsg section.systemMessage ul li.msg-item p{
    position: absolute;
    right: 0.5rem;
}
section#topM-sysMsg section.systemMessage ul li.msg-item em{
    font-style: normal;
}
section#topM-sysMsg > section.systemMessage div.msgContent{
    width: 50%;
    max-height: 100%;
    position: relative;
    background-color: #fff;
    background-color: rgba(255,255,255,0.6);
    padding: 1rem;
    padding-bottom: 4rem;
}
section#topM-sysMsg > section.systemMessage div.msgContent p{
    font-size: 1.5rem;
}
section#topM-sysMsg > section.systemMessage div.msgContent a.btn{
    background-color: #43c56c;
    color: #fff;
    margin: 0 1rem;
}
section#topM-sysMsg > section.systemMessage div.msgContent a.markReaded{
    position: absolute;
    right: 1rem;
}
section#topM-warning{
    height: 60px;
    color: #ccc;
}
section#topM-warning section.warning{
    position: relative;
    display: block;
}
section#topM-warning p{
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section#topM-warning a{
    margin: 0 0.3rem;
    text-decoration: underline;
}
/*一个小bug,一个warning是height变化,一个notice是top变化*/
section#topM-notice{
    position: fixed;
    top: -80px;
    height: 0px;
    color: #ccc;
    opacity: 0.9;
    filter: opacity(90%);
    -webkit-animation: noticeShowAnimate 3s 1 linear;
    -o-animation: noticeShowAnimate 3s 1 linear;
    animation: noticeShowAnimate 3s 1 linear;
}
@keyframes noticeShowAnimate {
    0%{
        top: -80px;
    }
    25%{
        top: 0;
        height: 60px;
    }
    75%{
        top: 0;
        height: 60px;
    }
    100%{

        top: -80px;
        height: 0;
    }
}
section#topM-notice section.tm-notice{
    position: relative;
    display: block;
}
section#topM-notice p{
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header{
    position: relative;
    height: 56px;
    z-index: 100;
    padding-top: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #5e5e5e;
}
ul.show-hidden{
    visibility: hidden;
    z-index: 100;
}
header a{
    pointer-events: none;
    text-decoration: none !important;
    color: #ffffff;
}
header ul a{
    pointer-events: auto;
}
header i{
    font-style: normal;
}
header li{
    list-style: none;
    line-height: 25px;
    font-size: 1.4rem;
}
header li a{
    padding: 5px 80px 5px 20px;
}
header li:hover{
    background-color: #ccc;
}
header a:hover{
    color: #ffffff;
}
header i.down-ico{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
header > span.nav{
    font-size: 1.7rem;
    position: absolute;
    line-height: 40px;
    top: 8px;
    right: 20px;
    padding: 0 20px;
    background-color: #36C565;
    display: none;
}
header > span.nav ul{
    position: absolute;
    background-color: #FF6138;
    padding: 0;
}
body header a.toLogin{
    display: none;
}
body#offline header a.toLogin{
    display: block;
    pointer-events: auto;
}
body#offline header > span.nav{
    line-height: 36px;
    cursor: pointer;
    padding: 0 0.3rem;
}
body#offline header .nav .click-toggle{
    display: none;
}
body#offline header .nav ul{
    display: none;
}
body#offline header a:active{
    color: #fff;
}
body#offline header a:visited{
    color: #fff;
}
body#offline section.mobile-nav{
    display: none;
}
body#offline div.nav-bar{
    display: none;
}
h1.logo{
    font-size: 0;
    height: 45px;
    background-image: url(../images/cc-6.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
    background-size: 200px 45px;
    margin-top: 0;
    padding-top: 5px;
    box-sizing: border-box;
}
div.nav-bar{
    width: 50px;
    height: 45px;
    position: absolute;
    right: 20px;
    top: 5px;
}
div.nav-bar .bar{
    width: 36px;
    height: 5px;
    display: block;
    margin: 7px 0;
    background-color: #36C565;
}
section.mobile-nav{
    overflow: hidden;
    transition: height 0.3s linear;
    height: 0;
    position: relative;
    z-index: 999;
}
section.mobile-nav ul{
    padding-top: 6px;
    padding-left: 2px;
    color: #fff;
    background-color: #36C565;
}
section.mobile-nav li{
    padding: 0;
}
section.mobile-nav a:hover{
    background-color: #ccc;
}
section.mobile-nav li a{
    display: block;
    padding: 5px 10px;
    width: 100%;
    color: #fff;
}

.backToTop{
    display: block;
    width: 50px;
    height: 55px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #555;
    background-color: #ccc;
    background-color: rgba(204,204,204,0.7);
    text-align: center;
    font-size: 3rem;
    padding-top: 3px;
    z-index: 999;
    /*transition: all 1s linear;*/
}

section.infoShow{
    height: 200px;
    position: relative;
    clear: both;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    margin-top: 50px;
    display: none;
}
section.infoShow div:first-child{
    width: 12%;
}
section.infoShow section.col-md-2{
    width: 13%;
}
section.infoShow section span{
    display: block;
    margin: 5px 0;
}
section.infoShow section span.title{
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
section.infoShow section span a{
    color: #999;
    line-height: 1.3rem;
}
footer{
    height: 100px;
    color: #999;
    text-align: center;
    padding-top: 3rem;
}

/* for popup show model*/
section.popupReview{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: opacity(0);
    top: 0;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    z-index: -1;
    visibility: hidden;
}
section.popupShow{
    opacity: 1;
    filter: opacity(100%);
    top: 0;
    z-index: 1000;
    visibility: visible;
}
section.popupReview .reviewDialog{
    width: 40%;
    padding: 10px 12px 0 12px;
    position: absolute;
    top: -300px;
    opacity: 0;
    filter: opacity(0);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s linear 0.5s;
    -moz-transition: all 0.3s linear 0.5s;
    -o-transition: all 0.3s linear 0.5s;
    transition: all 0.3s linear 0.5s;
}
section.popupReview div.dialog-show{
    top: 30px;
    opacity: 1;
    filter: opacity(100%);
}
/*data-error*/
section.popupReview .reviewDialog label:after{
    content: attr(data-error);
    position: absolute;
    color: red;
    font-size: 1.5rem;
    font-weight: 400;
}
section.popupReview .reviewDialog .prHeader{
    position: relative;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    font-size: 1.6rem;
}
section.popupReview .reviewDialog .prHeader button{
    line-height: 30px;
    color: #d6d4d2;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 5px;
}
section.popupReview .reviewDialog .prBtns{
    padding: 10px;
    text-align: right;
    position: relative;
}
section.popupReview .reviewDialog .prBtns .btn{
    padding: 8px 15px;
    margin: 0 3px;
    color: #fff;
    background-color: #36C565;
    border: 1px solid #ccc;
}
@media only screen and (max-width: 768px){
    section.popupReview .reviewDialog{
        width: 90%;
    }
}
@media only screen and (min-width: 769px){
    body#offline header > span.nav{
        padding: 0 1.3rem;
    }
    div.nav-bar{
        display: none;
    }
    section.mobile-nav{
        display: none;
    }
    span.nav{

    }
    section.infoShow{
        display: block;
    }
    header > span.nav{
        min-width: 170px;
        display: inline-block;
        padding-left:10px;
        right: 120px;
        text-align: center;
    }
}